#titre{
    text-align: center;
    font-size: 45px;
    font-family: Arial;
    color: white;
    text-shadow: 0px 0px 15px black;
    margin-top:0%

}

body, html{
  
    background-image: url('img/');
    background-repeat:  no-repeat; 
    background-size:cover;
    background-size: auto;
    -o-background-size: cover;
    background-attachment: fixed, scroll;
    -webkit-background-size: cover;
}
.boutons{
    text-decoration: none;
    list-style-type: none;
    padding: 20px 20px 20px 0;
}

#boite-boutons {
    text-align: right;
    margin: 0 55px 0 1350px;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.301);
    border-radius: 8px;
}



#boite-boutons ul li a{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    height: 100%;
    line-height: 100%;
    cursor: pointer;
    z-index: 1;
}



#boite-boutons ul li a:hover{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: rgb(0, 255, 13);
}


#titre{ 
    font-size: 500%;
    border:2px solid rgb(54, 1, 1);
    text-align:center;
    padding:22px 60px;
    font-weight:3600;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#boite-mois .animation{
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
    border-radius: 8px;
    right:0px;
}

a:nth-child(1){
    width: 100px;
}

#boite-mois .start-septembre, a:nth-child(1):hover~.animation{
    width: 80px;
	left: 0;
	background-color: #1abc9c;
}
