/* paramettre du corp de la programmation */
body, html{ 
    background-image: url('img/bg.png'); /* image de fond */
    background-repeat:  no-repeat; /* pas de répétition d'images */
    background-size: cover; /*  */
    -o-background-size: cover; /*  */
    -webkit-background-size: cover; /*  */
    background-size: auto; /*  */
    background-attachment: fixed, scroll; /*  */
    background-size: 100%;
}

/* décoration des boutons N°2 */
.boutons-2{
    text-decoration: none; /* pas de décoration d'objet */
    list-style-type: none; /* pas de puce de liste */
    padding: 10px 20px 10px 0; /* paramettre padding top="10" right="20" bottom="10" left="0" */
}

/* paramettre du support des boutons N°2 */
#boite-boutons-2 {
    position: absolute;
    margin: 10px 0 0 2%;
    text-align: center; /* texte aligné au centre */
    background-color:rgba(255, 255, 255, 0.534); /* couleur de fond = " gris " */
    height: 380px; /* hauteur=" 500 pixel " */
    width: 34   0px; /* taille= " 200 pixel " */
    border: 1px solid blue; /* bordure de "repaire" ( peut-être suppr ) */
    float: left; /*  */
    border-radius: 8px; /* bordure arrondie de 8 pixel */
}

/* paramettre des boutons N°2 */
#boite-boutons-2 ul li a{
    font-size: 30px; /* taille des boutons */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* police d'écriture */
    text-decoration: none; /* pas de décoration d'objets */
    color: black;/* couleur d'objet*/
    transition-duration: 0.5s;/* duré des transitions */
}

/* paramettre des boutons quand souris passe dessus */
#boite-boutons-2 ul li a:hover{
    text-decoration: none; /* décoration auto désactivé */
    color: rgb(0, 255, 13); /* couleur du texte vert claire */
}

/* décoration des boutons */
.boutons{
    text-decoration: none; /* pas de décoration de boutons */
    list-style-type: none; /* pas de puce de style liste */
    padding: 10px 20px 10px 0; /* paramettre padding top="20" right="20" bottom="20" left="0" */
}

/* paramettre du support des boutons */
#boite-boutons {
    margin: 10px 2% 0 80%; /* marge top="10px" right="2%" bottom="0" left="80%" */
    text-align: center; /* aligné le texte  */
    background-color:rgba(255, 255, 255, 0.534); /* couleur de fond noir */
    border-radius: 8px; /* arrondissemend de 8 px */
    border: 1px solid red; /* pordure de repaire ( peut-être suppr ) */
    position: absolute; /* position n'influencent pasle reste de la progra */
    right: 10px; /*  */
    width: 250px; /* largeur de 250 pixel */
}

/* paramettre des boutons */
#boite-boutons ul li a{
    font-size: 30px; /* taille des lettres */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* police d'écriture */
    text-decoration: none; /* pas de décoration auto */
    text-transform: uppercase; /*  */
    color: black; /* texte de couleur noir */
    height: 100%; /* hauteur à 100% */
    line-height: 100%; /*  */
    cursor: pointer; /*  */
    transition-duration: 0.5s; /* duré des transition de 0.5 seconde */
}

/* paramettre des boutons quand souris passe dessus */
#boite-boutons ul li a:hover{
    text-decoration: none; /* pas de décoration de texte */
    color: rgb(0, 255, 13); /* texte de couleur vert */
}

/* paramettre du titre */
#titre{
    font-size: 600%; /* texte à 600% de sa taille normal */
    border: 3px solid rgb(0, 0, 0); /* bordure de couleur noir */
    border-radius: 8px; /* arrondissement des bords */
    text-align: center; /* aligner le texte au centre */
    padding: 0 0 0 0; /* paramettre du padding top=0 right=0 bottom=0 left=0 */
    font-weight: 3600; /*  */
    width: 70%; /* largeur=70% */
    margin: 0 auto 0 auto; /* paramettre des marges top="0" right="auto" bottom="0" left="auto" */
    overflow-x: hidden; /*  */
    text-align: center; /* alignement du texte = centré */
    text-shadow: 0px 0px 15px black; /* ombres du titre */
    font-family: Georgia, Times, 'Times New Roman'; /* police d'écriture */
    color: rgb(0, 0, 0); /* couleur = noir */
}

#video{
    margin : 2% 50% 0 30%; /* margin top="0" right="50%" bottom="0" left="30%" */
}

#article{
    background-color: grey;
}